// @author Penn
// --------------------------------------------------

// header.scss
// --------------------------------------------------

#dsg-designer-nav.dsg-designer-nav {

    header {
        width: $header-width;
        height: $header-height;
        margin-bottom: $header-margin;
        background-color: $header-background-color;
    }

} // end #dsg-editorial.dsg-editorial
