// @author Penn
// --------------------------------------------------
// NOTE: vendor prefixes are now obsolete thanks to Gulp Autoprefixer
// https://www.npmjs.com/package/gulp-autoprefixer

// typography.scss
// --------------------------------------------------
// typography, fonts, etc go here

// Font smoothing
// Fixes issues with css transitions involving text
@mixin font-smoothing($value: antialiased) {
    @if $value == antialiased {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// enable font kerning for typekit!
// may cause weirdness at larger font-sizes
// http://blog.typekit.com/2014/02/05/kerning-on-the-web/
@mixin font-kerning {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern';
    -webkit-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern=1';
    font-kerning: normal;
}

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ivypresto-headline:
 *   - http://typekit.com/eulas/00000000000000007735c586
 *   - http://typekit.com/eulas/00000000000000007735c58b
 *   - http://typekit.com/eulas/00000000000000007735c595
 *   - http://typekit.com/eulas/00000000000000007735c598
 *   - http://typekit.com/eulas/00000000000000007735c5a2
 *   - http://typekit.com/eulas/00000000000000007735c5a5
 * ivypresto-text:
 *   - http://typekit.com/eulas/00000000000000007735c587
 *   - http://typekit.com/eulas/00000000000000007735c58d
 *   - http://typekit.com/eulas/00000000000000007735c596
 *   - http://typekit.com/eulas/00000000000000007735c599
 *   - http://typekit.com/eulas/00000000000000007735c5a3
 *   - http://typekit.com/eulas/00000000000000007735c5a6
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-04-21 19:28:44 UTC"}*/

// @import url("https://p.typekit.net/p.css?s=1&k=wvn8kad&ht=tk&f=45412.45414.45416.45417.45420.45421.45422.45424.45426.45427.45430.45431&a=44614102&app=typekit&e=css");

@font-face {
font-family:"ivypresto-headline";
src:url("https://use.typekit.net/af/098da4/00000000000000007735c586/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/098da4/00000000000000007735c586/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/098da4/00000000000000007735c586/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"ivypresto-headline";
src:url("https://use.typekit.net/af/287ef1/00000000000000007735c58b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/287ef1/00000000000000007735c58b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/287ef1/00000000000000007735c58b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"ivypresto-headline";
src:url("https://use.typekit.net/af/b55b41/00000000000000007735c595/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/b55b41/00000000000000007735c595/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/b55b41/00000000000000007735c595/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ivypresto-headline";
src:url("https://use.typekit.net/af/637100/00000000000000007735c598/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/637100/00000000000000007735c598/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/637100/00000000000000007735c598/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"ivypresto-headline";
src:url("https://use.typekit.net/af/49a67f/00000000000000007735c5a2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/49a67f/00000000000000007735c5a2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/49a67f/00000000000000007735c5a2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ivypresto-headline";
src:url("https://use.typekit.net/af/4bb046/00000000000000007735c5a5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4bb046/00000000000000007735c5a5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4bb046/00000000000000007735c5a5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"ivypresto-text";
src:url("https://use.typekit.net/af/639dda/00000000000000007735c587/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/639dda/00000000000000007735c587/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/639dda/00000000000000007735c587/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"ivypresto-text";
src:url("https://use.typekit.net/af/b30e5e/00000000000000007735c58d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b30e5e/00000000000000007735c58d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b30e5e/00000000000000007735c58d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"ivypresto-text";
src:url("https://use.typekit.net/af/6eb028/00000000000000007735c596/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/6eb028/00000000000000007735c596/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/6eb028/00000000000000007735c596/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ivypresto-text";
src:url("https://use.typekit.net/af/d5ed0d/00000000000000007735c599/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d5ed0d/00000000000000007735c599/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d5ed0d/00000000000000007735c599/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"ivypresto-text";
src:url("https://use.typekit.net/af/7918a3/00000000000000007735c5a3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/7918a3/00000000000000007735c5a3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/7918a3/00000000000000007735c5a3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ivypresto-text";
src:url("https://use.typekit.net/af/da080e/00000000000000007735c5a6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/da080e/00000000000000007735c5a6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/da080e/00000000000000007735c5a6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

.tk-ivypresto-headline { font-family: "ivypresto-headline",serif; }
.tk-ivypresto-text { font-family: "ivypresto-text",serif; }