// @author Joseph
// --------------------------------------------------

// section.scss
// --------------------------------------------------

#dsg-editorial.dsg-editorial {
    section {

        em {
            font-weight: 800;
        }

        &.sec__01{
        }

        &.sec__02{
            max-width: 1230px;
            text-align: center;
            padding: 40px 0;
            margin: 0 auto;

            h1{
                @include FontSans(30px, 900, 250);

                margin-bottom: 20px;
                text-transform: uppercase;
            }

            p{
                @include FontSans(16px, 400, 15);
                max-width: 635px;
                margin: 0 auto;
            }

            a.button {
                position: relative;
                text-decoration: none;
                color: inherit;
                margin-top: 40px;
                border: 3px solid black;
                padding: 10px 20px;
                line-height: 20px;
                font-weight: 800;
                text-transform: uppercase;
                display: inline-block;
            }

            .profile {
                display: flex;
                width: 100%;
                align-items: center;
                margin: 0 auto;
                justify-content: center;

                img {
                    width: auto;
                }

                span {
                    margin: 0;
                    width: 58%;
                    text-align: left;
                    padding-left: 30px;
                    font-size: 16px;
                }
            }
        }

        &.sec__03 {
            max-width: 1230px;
            margin: 0 auto;
        }

        .fed-tabs{
            .fed-tabs__buttons{
                border-top: 1px solid #262525;
                border-bottom: 1px solid #262525;

                .fed-tabs__buttons-button{
                    text-transform: uppercase;
                    color:#000;
                    padding: 22px 0;

                    &.fed-tabs__buttons-active{
                        color: #a7a9ac;
                    }
                }
            }

            .fed-tabs__container{
                .fed-tabs__container-section{

                }
            }
        }

        &.sec__04 {
            max-width: 1230px;
            margin: 50px auto 0;
            border-top: 1px solid black;
            padding: 50px 0;
            text-align: center;

            h1{
                @include FontSans(30px, 900, 250);

                margin-bottom: 20px;
                text-transform: uppercase;
            }

            h3 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 16px;
            }

            br.mobile {
                display: none;
            }
        }

        &.sec__05 {
            max-width: 1230px;
            margin: 0 auto;
            border-top: 1px solid black;
            padding: 50px 0;
            text-align: center;
            display: block;

            h1{
                @include FontSans(30px, 900, 250);

                margin-bottom: 20px;
                text-transform: uppercase;
            }

            a.learn {
                font-weight: 800;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                color: #000;
                margin: 20px auto 60px;
                font-size: 18px;
                display: inline;
                border-bottom: 1px solid black;
            }
        }

        a.custom-back-to-top {
            position: relative;
            font-weight: 800;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #000;
            margin: 40px auto 20px;
            display: block;

            span {
                text-align: center;
                border-bottom: 1px solid black;
                font-size: 18px;
            }
        }

        .bay-video {
            max-width: 960px;
            margin: 50px auto;

            span {
                font-family: VideoJS;
            }
        }

        @media only screen and (max-width: $mobile-breakpoint) {
            &.sec__04 br.mobile {
                display: inherit;
            }
        }
    }
} // end #dsg-editorial.dsg-editorial
