<h2 class="h2">FIND CHANEL AT THESE STORE LOCATIONS</h2>
<div class="store--locations">
{{#chaneldata}}
    <div class="store--state">
        <h3>{{state}}</h3>
        {{#stores}}
            <div class="store">
                <div class="store--name"><a href={{url}}>{{name}}</a></div>
                
                <div class="store-details-container">
                    <div class="store--address">
                        <a href={{url}}>
                            <span class="hbc-icon hbc-icon--location" aria-hidden="true"></span>
                            <span>{{address}}<br>{{city}}, {{state}} {{zip}}</span>
                        </a>
                    </div>
                    <div class="store--contact">
                        <a href="tel:{{contact}}">
                            <span class="hbc-icon hbc-icon--call" aria-hidden="true"></span>
                            <span>{{contact}}</span>
                        </a>
                    </div>
                </div>
                <div class="store--merch-container">
                    <ul class="store--merch">
                        {{#merch}}
                        <li>{{.}}</li>
                        {{/merch }}
                    </ul>
                </div>
            </div>
        {{/stores}}
    </div>
{{/chaneldata}}
</div>