// @author Penn
// --------------------------------------------------

// typography.scss
// --------------------------------------------------
// Includes font-family, weights, styles, colors, etc

#dsg-editorial.dsg-editorial {

	h1{
		@include FontSerif(65px, 400, 35);
	}

	h2{
		@include FontSerif(32px, 400, 35);
	}

	h3{
		@include FontSans(26px, 400, 50);
	}

	h4{
		@include FontSans(26px, 400, 50);
	}

	p{
		@include FontSans(16px, 400, 35, 1.3);

		&.p_medium{
			@include FontSans(20px, 400, 35, 1.3);
		}

		&.p_large{
			@include FontSans(28px, 400, 35, 1.3);
		}
	}

	a{
		@include FontSans(22px, 400, 35, 1.3);
		@include CTA(#000);
	}

    @media only screen and (max-width: $mobile-breakpoint) {
    	h1{
    		font-size: 6vw;
    	}

    	h2{
    		font-size: 28px;
    	}

    	h3{
    		font-size: 22px;
    	}

    	p{
			font-size: 14px;

			&.p_medium{
				font-size: 18px;
			}

    		&.p_large{
    			font-size: 2.5vw;
    		}
    	}
    }

} // end #dsg-editorial.dsg-editorial
