// @author Penn
// --------------------------------------------------

// section.scss
// --------------------------------------------------

#dsg-editorial.dsg-editorial {

    section {
        width: $section-width;
        margin: 0 auto;
        clear: both;
        
        $section-margin: 40px;

        div {
            float: left;
            width: $section-width / 3;
            margin-top: $section-margin;
        }

        p {
            margin-bottom: $section-margin + 10px;
        }

    }

} // end #dsg-editorial.dsg-editorial
