// @author Penn
// --------------------------------------------------

// typography.scss
// --------------------------------------------------
// Includes font-family, weights, styles, colors, etc

#dsg-editorial.dsg-editorial {

    // base styles
    font-family: $sans;
    font-weight: $regular;
    font-style: normal;
    text-align: center;
      
    h1 {
        font-size: 46px;
        color: #fff;
        font-weight: bold;
        line-height: 0.85em;
        letter-spacing: 0.025em;
      }
      
      p {
        font-size: 16px;
        color: #000;
        line-height: 1.562;
        letter-spacing: 0.06em;
      }
      
      h3 {
        font-size: 18px;
        color: #000;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 0.06em;
      }
    

} // end #dsg-editorial.dsg-editorial
