#dsg-editorial.dsg-editorial {
    .fed-tabs{

        .fed-tabs__container-section-01{

            .fed-tabs__container-section-01__01{
                text-align: center;
                padding: 71px 0 35px 0;

                &.subline {
                    .cta span {
                        font-size: 17px;
                    }
                }
            }

            .fed-tabs__container-section-01__01.main {
                position: relative;

                .text {
                    position: absolute;
                    color: #fff;
                    top: 33%;
                    right: 2%;
                    font-family: "proxima-nova", "Gill Sans MT", "Gill Sans", "Corbel", sans-serif;
                }

                h2 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                p {
                    margin-bottom: 10px;
                }

                a{
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 800;
                    text-decoration: underline;
                }

                img {
                    width: 100%;
                }
            }

            .fed-tabs__container-section-01__02,
            .fed-tabs__container-section-01__03,
            .fed-tabs__container-section-01__04,
            .fed-tabs__container-section-01__05{
                display: flex;
                margin-bottom: 88px;

                h3{
                    margin-bottom: 28px;
                }

                .cta{
                    padding-top: 19px;
                }

                div{
                    flex: 1;
                    text-align: center;
                }
            }

            .fed-tabs__container-section-01__02.main {
                h3 {
                    margin: 50px 0 5px 0;
                }

                div {
                    font-family: "proxima-nova", "Gill Sans MT", "Gill Sans", "Corbel", sans-serif;
                }
            }

            .fed-tabs__container-section-01__02, .fed-tabs__container-section-01__03 {
                justify-content: center;
                & .product-tab {
                    flex: 0 1 auto;

                    & img {
                        width: auto;
                    }
                }
                

            }

            .fed-tabs__container-section-01__04 {
                border-top: 1px solid #4c4c4c;
                border-bottom: 1px solid #4c4c4c;
                padding: 25px 0;
                width: 100%;
                flex-direction: column;

                h2 {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin: 20px auto 70px;
                    font-size: 20px;
                }

                h3.main {
                    font-size: 20px;
                    margin: 40px auto 80px;
                }

                & .row {
                    display: flex;
                    width: 100%;
                    text-align: center;
                    margin: 10px auto 60px;
                    flex-wrap: wrap;
                }

                & .item {
                    margin: 0 26px;

                    img {
                        width: auto;
                    }

                    & .cta {
                        cursor: auto;
                        text-transform: none;
                        font-size: 16px;
                        font-weight: 400;
                    }

                    & span {
                        font-family: "proxima-nova", "Gill Sans MT", "Gill Sans", "Corbel", sans-serif;
                    }
                }


                .desc {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    max-width: 400px;
                }

                a {
                    
                    margin: 50px auto 0;
                    font-weight: 700;
                    font-size: 14px;
                    font-family: "proxima-nova", "Gill Sans MT", "Gill Sans", "Corbel", sans-serif;
                    border-bottom: 1px solid #000;
                }
                
            }

            @media only screen and (max-width: $mobile-breakpoint) {

                br{
                    display: none;
                }

                .fed-tabs__container-section-01__01{
                }

                .fed-tabs__container-section-01__02,
                .fed-tabs__container-section-01__03,
                .fed-tabs__container-section-01__04,
                .fed-tabs__container-section-01__05{
                    display: block;
                    margin-bottom: 0;
                }

                .fed-tabs__container-section-01__04 {
                    padding: 0; 
                    & .row {
                        margin-bottom: 0;
                        & .item {
                            margin-bottom: 50px;
                        }
                    }
                }

                .fed-tabs__container-section-01__05{
                    margin-bottom: 50px;
                }

            }
        }
    }
}
