// footer.scss
// --------------------------------------------------

#dsg-editorial.dsg-editorial section.sec__footer {
	text-align: center;

	.cta{
		@include FontSans(18px, 700, 40);
		@include CTA(#000);

		text-transform: uppercase;
	}

    @media(max-width: $mobile-breakpoint) {
    	.cta{
    		font-size: 3.5vw;
    	}
    }

} // end #dsg-editorial.dsg-editorial
