// @author Joseph

#dsg-editorial.dsg-editorial #section8{
	background-image: url("<%=img('sec-8_bg.png')%>");

	//background: #025611;

	.text-wrapper{
		width: 80%;
		margin: 0 auto;
	}

	h2{
		margin-bottom: 2vw;
		font-size: 70px;
	}

	// p{
	// 	margin-bottom: 2vw;
	// 	font-size: 1.2vw;
	// }

	a{
		margin-bottom: 2vw;

		&.cta{
			font-size: 1.1vw;
		    width: 37%;
		    margin: .5vw auto;
		    padding: 1vw;
		}

		&.cta-boxed{
			width: 73%;
			//font-size: 1.5vw;
			//border: 2px solid #fbf4e3;
			margin-top: 7vw;
		}
	}

	.text-section8{
		& > div{
			//background: red;
			display: flex;
			
			div{
				flex:1;
				border-left: 2px solid #fff;
				padding-top: 5vw;
				padding-bottom: 5vw;

				a{
					position: relative;
					bottom: 0;
				}

				&:first-child{
					border-left: 0;
				}
			}
		}
	}

	.section-inner{
		display: flex;
		position: relative;

		.section-inner-left-links{
			display: flex;
			flex-direction: column;

			h3{
				margin-bottom: 6vw;
			}
		}

		.section-inner-right-links{
			display: flex;
			flex-direction: column;
		}

		.section-inner-left{
			display: flex;
			flex-direction: column;

			h3{
				margin-bottom: 6vw;
			}
		}

		.section-inner-right{
			display: flex;
			flex-direction: column;
		}

		& > div{
			flex: 1;
			border-left: 1px solid #fbf4e3;
			padding-top: 5vw;
			padding-bottom: 0;
			position: relative;

			&:first-child{
				border:0;
			}
		}
	}

	@media(max-width: $tablet-breakpoint){
		.section-inner{
			div{

				&.section-inner-left-links{
					display: block;
					

					a.cta{
						//width: 18vw;
						// padding: 1.2vw 3vw;
						// font-size: 1.5vw;
					}
				}

				&.section-inner-center{
					p{
						font-size: 1.5vw;
					}

					a.cta{
						//width: 18vw;
						// padding: 1.2vw 3vw;
						// font-size: 1.5vw;
					}

					.collection-link-source{
						a.cta-boxed{
							//width: 37%;
							// font-size: 1.5vw;
							// border: 2px solid #fbf4e3;
							// margin-top: 20vw;
						}
					}

					
				}

				&.section-inner-right{
					p{
						font-size: 1.5vw;
					}
				}

				&.section-inner-right-links{
					display: block;

					a.cta{
						//width: 18vw;
						// padding: 1.2vw 3vw;
						// font-size: 1.5vw;
					}
				}
			}
		}
	}

	@media(max-width: $mobile-breakpoint){
		background-image: url("<%=img('sec-8_bg.png')%>");

		h2{
			font-size: 8vw;
		}

		h3{
			font-size: 5vw;
			margin-bottom: 1vw;
		}

		a{
			font-size: 6vw;
		}

		.text-wrapper{
			width: 80%;
			margin: 0 auto;
		}

		.text-section8{
			& > div{
				flex-direction:column;

				div{
					border: 0;
				}
			}
		}



		.section-inner{
			display: block;

			div{
				border:0;

				&.section-inner-right{
					padding-top: 0;
				}

				&.section-inner-center{
					p{
						font-size: 3vw;
					}

					.cta{

						&.cta-fix{
							width: 37vw;
							padding: 3vw 3vw;
							font-size: 4vw;
							margin-bottom: 6vw;
						}
						// width: 34vw !important;
						// padding: 2vw 3vw !important;
						// font-size: 4vw !important;
					}
				}

				&.section-inner-left-links{
					padding-top: 0;
					padding-bottom: 0;

					a.cta{
						width: 41vw;
						//border-width: 0.5vw;
						padding: 3vw 3vw;
						font-size: 4vw;


					}
				}

				&.section-inner-right-links{
					padding-top: 0;
					padding-bottom: 0;

					a.cta{
						width: 41vw;
						//border-width: 0.5vw;
						padding: 3vw 3vw;
						font-size: 4vw;
					}
				}
			}
		}

		

		.collection-link-destination{
			margin-top: 11vw;

			.cta{
				margin: 0;
				padding: 4vw 9vw;
			}

			.cta-boxed{
				//border: 2px solid #fbf4e3;
				font-size: 4vw;
				width: 84%;
			}
		}
	}

} // end #dsg-editorial.dsg-editorial
