registry=https://registry.npmjs.org/
@digital-u:registry=https://repo.bespin.cce.af.mil/api/v4/projects/2095/packages/npm/
//repo.bespin.cce.af.mil/api/v4/projects/2095/packages/npm/:_authToken=${DU_NPM_TOKEN}
//repo.bespin.cce.af.mil/api/v4/packages/npm/:_authToken=${DU_NPM_TOKEN}

@bespin:registry=https://repo.bespin.cce.af.mil/api/v4/projects/1085/packages/npm/
'//repo.bespin.cce.af.mil/api/v4/projects/1085/packages/npm/:_authToken'=${DU_NPM_TOKEN}

@jsr:registry=https://npm.jsr.io

legacy-peer-deps=true
