// @author Penn
// --------------------------------------------------
// NOTE: vendor prefixes are now obsolete thanks to Gulp Autoprefixer
// https://www.npmjs.com/package/gulp-autoprefixer

// colors.scss
// --------------------------------------------------
// mixins involving colors, gradients, etc

@mixin gradient($from, $to) {
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -moz-linear-gradient(top, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}
