<!-- Created using HBC Editorial Workflow - @author: Joseph Luzquinos -->

<!-- DSG Editorial Global Fixes for SFCC -->
<link rel="stylesheet" href="https://content.hbc.com/chad/bay/editorial/plugins/globals/dsg-editorial-global-styles.css">

<!-- Proxima nova Extras (800,900), comment if NOT needed -->
<!-- <link rel="stylesheet" href="https://use.typekit.net/sfz0foe.css"> -->

<!-- ONLY for HOLIDAY GIFTGUIDE - Proxima Nova (400,700) and Meno Banner (400)) -->
<link rel="stylesheet" href="https://use.typekit.net/lyr3ubw.css">

<!-- build:header -->
<!-- endbuild -->

<!-- build:typekit -->
<!-- endbuild -->

<!-- Compiled CSS -->
<!-- build:css -->
<!-- endbuild -->